dict2obj
discord.py
requests

aws-lambda-typing == 1.0.3
boto3
youtube_dl
ffmpeg

beautifulsoup4

black
flake8
autopep8
isort

mypy
pytest
pytest-mock
pytest-asyncio
pytest-env

elasticsearch==7.13.4
CMRESHandler
